@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap');

/* Style pour le conteneur principal */
html,
body {
  margin: 0px;
  height: 100%;
  overflow: hidden;
  background-color: #212121;
  transition: background-color 1s ease-in-out;
}

#music-player {
  height: 100%;
  margin: 0px;
  color: #fff;
  text-align: center;
  padding: 20px;
}

#version {
  font-size: 15px;
  opacity: 0.8;
}

#music-player p {
  font-size: 13px;
  font-family: 'Sora', Arial, sans-serif;
}

#web-app-error {
  display: none;
  text-align: center;
}

#web-app-error h1 {
  margin: 10px 0px 20px 0px;
}
#web-app-error p {
  color: white;
  font-family: 'Sora', Arial, sans-serif;
}


#web-app-error img {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: white;
  margin: 10px 0px 20px 0px;
  font-size: 25px;
  font-family: 'Sora', Arial, sans-serif;
}

#album-cover {
  max-height: 100%;
  width: 100%;
  height: auto;
  border-radius: 10px 10px 10px 10px;
  opacity: 1;
}

#music-player #song-title {
  text-align: left;
  margin: 10px 0px 1px 0px;
  font-size: 25px;
  font-family: 'Sora', Arial, sans-serif;
}

#music-player #song-artist {
  opacity: 0.7;
  text-align: left;
  margin: 0px;
  font-size: 15px;
  font-family: 'Sora', Arial, sans-serif;
}

/* Style pour la barre de progression */
#progress-bar-container {
  margin-top: 10px;
}

#progress-bar {
  width: 100%;
  height: 5px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #757575;
  border-radius: 10px;
  outline: none;
}

#progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

#progress-bar::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

#music-player #song-control-container {
  display: flex;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  bottom: 0px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#music-player #other-control-container {
  display: none;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  bottom: 0px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#song-control-container button {
  font-size: 2em;
  margin: 0 10px;
  padding: 10px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#other-control-container button {
  font-size: 2em;
  margin: 0 10px;
  padding: 10px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

button:active {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

@media only screen and (min-width: 768px) {

  /* styles pour écran d'ordinateur */
  #music-player {
    margin-left: 30%;
    margin-right: 30%;
  }

  #music-player #album-cover {
    max-height: 100%;
    width: 80%;
    height: auto;
  }
}